// Date Picker Header Component
// 
// ------------------------------------------------------------------------

// Block
// ------------------------------------------------------------------------
.date-picker-header {
  display: flex;
  align-items: baseline;
  // Elements
  // --------------------------------------------------------------------
  &__head {
    width: 100%;
  }
}